<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>GoodsManage</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link rel="stylesheet" href="http://cdn.kendostatic.com/2015.1.429/styles/kendo.common-material.min.css" />
    <link rel="stylesheet" href="http://cdn.kendostatic.com/2015.1.429/styles/kendo.material.min.css" />
    <link rel="stylesheet" href="http://cdn.kendostatic.com/2015.1.429/styles/kendo.dataviz.min.css" />
    <link rel="stylesheet" href="http://cdn.kendostatic.com/2015.1.429/styles/kendo.dataviz.material.min.css" />
    <script src="http://cdn.kendostatic.com/2015.1.429/js/jquery.min.js"></script>
    <script src="http://cdn.kendostatic.com/2015.1.429/js/kendo.all.min.js"></script>
</head>
<body>
    <div class="content-pane">
        <div id="grid"></div>
    </div>
    <script>
        $(document).ready(function () {
            var UrlBase = "/";
            $("#grid").kendoGrid({
                dataSource: {
                    pageSize: 5,
                    dataType: "jsonp",
                    transport: {
                        read: {
                            url: UrlBase + "api/Goods",
                            contentType: "application/json; charset=utf-8",
                            type: "GET"
                        },
                        create: {
                            url: UrlBase + "api/Goods",
                            contentType: "application/json; charset=utf-8",
                            type: "POST"
                        },
                        update: {
                            url: UrlBase + "api/Goods",
                            contentType: "application/json; charset=utf-8",
                            type: "PUT"
                        },
                        destroy: {
                            url: UrlBase + "api/Goods",
                            contentType: "application/json; charset=utf-8",
                            type: "DELETE"
                        },
                        parameterMap: function (data, operation) {
                            if (operation !== "read") {
                                return kendo.stringify(data);
                            }
                        }
                    },
                    schema: {
                        model: {
                            id: "id",
                            fields: {
                                id: { type: "string", editable: true, nullable: false },
                                name: { type: "string", editable: true, nullable: false },
                                price: { type: "int", editable: true },
                                num: { type: "int", editable: true },
                                describe: { type: "string", editable: true },
                                time: { type: "datetime", editable: true },
                                type: { type: "string", editable: true }
                            }
                        }
                    }

                },
                height: 550,
                sortable: true,
                scrollable: true,
                sortable: true,
                filterable: true,
                editable: "inline",
                toolbar: ["create"],
                pageable: {
                    input: true,
                    numeric: false
                },
                columns: [
                    { field: "id", title: "編號", width: "75px" },
                    { field: "name", title: "名稱", width: "100px" },
                    { field: "price", title: "價錢", width: "75px" },
                    { field: "num", title: "數量", width: "75px" },
                    { field: "describe", title: "描述", width: "100px" },
                    { field: "time", title: "日期", width: "130px" },
                    { field: "type", title: "種類", width: "80px" },
                    { command: ["edit", "destroy"], title: "Command", width: "180px" }
                ]
            });

        });
    </script>
</body>
</html>
<script>
    
</script>